# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*.tmp
*.orig
.DS_Store
Thumbs.db
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/

# Android & Gradle related
.gradle/
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/GeneratedPluginRegistrant.java
**/android/.cxx/
**/android/.kotlin/
.kotlin/
local.properties
key.properties
**/key.properties
**/*.keystore
**/*.jks

# Build artifacts
*.apk
*.aab
*.ipa

# Web related
lib/generated_plugin_registrant.dart

# Symbol processing related
undone/

# Windows related
windows/flutter/ephemeral/
